.idea
.cpcache
.shadow-cljs
resources/public/electric_starter_app/js
.nrepl-port
node_modules
*.iml
.secret/electric-auth-firebase-adminsdk-fbsvc-a484b36f6c.json
.aider.tags.cache.v3
.aider.chat.history.md
.aider.input.history
